* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    min-width: 700px;
    margin: 10vh auto;
    border: 2px solid rgb(20, 99, 151);
    border-radius: 20px;
    overflow: hidden;
}

/************************************************** Buttons ****************************************************/

.unselectable {
    user-select: none;
}

.active {
    background-color: rgb(20, 99, 151);
    border: 2px solid rgb(95, 172, 223);
}

.active:hover {
    background-color: rgb(95, 172, 223);
    cursor: pointer;
    animation-name: buttons;
    animation-duration: 0.15s;
}

.inactive {
    background-color: rgb(100, 50, 50);
    border: 2px solid rgb(150, 100, 100);
    cursor: default;
}

.button {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 230px;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    display: inline-block;
}

/******************************************** Tabs Navigation Bar ******************************************/

#tabs {
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(20, 99, 151);
}

.tab-btn {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgb(200, 130, 50);
    color: white;
    display: block;
    flex-grow: 1;
    width: 100px;
}

.tab-btn:hover {
    background-color: rgb(250, 185, 103);
    animation-name: tab-buttons;
    animation-duration: 0.15s;
}

#chronometer-tab{
    border-left: 2px solid rgb(20, 99, 151);
    border-right: 2px solid rgb(20, 99, 151);
}

.tab {
    margin: 20px auto 40px;
    padding: 20px 0;
    font-size: 40px;
    display: none;
    width: 500px;
}

/******************************************** Tabs ******************************************/

.display {
    display: block;
    border: 2px solid rgb(49, 52, 54);
    border-radius: 20px;
    margin: 0px auto 20px;
    padding: 10px 15px;
    font-size: 40px;
    color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

/***************************************** Time Tab *******************************************/

#time {
    display: block;
}

#alarm {
    display: flex;
    margin-bottom: 20px;
    border: 2px solid rgb(49, 52, 54);
    border-radius: 20px;
    padding: 2px;
    overflow: hidden;
}

#alert {
    height: 0;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: black;
    transition: height 0.5s, margin 1s;
    border-radius: 20px;
    margin: 0;
}

#alert.show {
    margin: 0px auto 20px;
    padding: 10px 15px;
    height: 250px;
    transition: height 0.5s, margin 1s;
}
#alarminput {
    display: inline;
    flex-grow: 1;
}

#setalarm {
    width: 230px;
    margin: 0;
    flex-grow: 0;
}

#alarminput input {
    width: 60px;
    padding: 2 px;
    margin: 0;
    font-size: 40px;
    border: 1px solid black;   
    text-align: center;
    line-height: 64px; 
}

#alarmlist {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 20px;
    padding: 0px;
    overflow: hidden;
    height: 0px;
    border: none;
    transition: height 0.5s, margin 0.8s;
}

#alarmlist .alarm {
    height: 60px;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    overflow: hidden;
}

.alarm .time {
    width: max-content;
}

.alarm .cancel {
    width: max-content;
    display: flex;
    justify-content:center;
    align-items: center;
}

.alarm .cancelButton {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 0;
    background-color: red;
    color: black;
    border: 2px solid rgb(100, 50, 50);
    border-radius: 10px;
}

.cancelButton:hover {
    background-color: rgb(100, 50, 50);
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}
/************************************** Chronometer Tab ***************************************/

#chronometer {
    display: none;
}

/************************************** Countdown Tab ****************************************/

#countdown {
    display: none;
}

#countdowntxt {
    display: none;
}

#countdownend {
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 0;
    line-height: 100px;
    overflow: hidden;
    transition: all 0.5s;
}

#countdownend.show {
    height: 100px;
    transition: all 0.5s;
}

.val{
    width: 100px;
    flex-grow: 1;
    text-align: center;
    border: 2px solid white;
}

#countdowninput .column{
    font-size: 30px;
    line-height: 62px;
}

#countdowninput {
    padding-bottom: 20px;
}

#countdowninput .labels, #countdowninput .inputs {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

#countdowninput .inputs {
    line-height: 62px;
}

#countdowninput .label, #countdowninput .input {
    width: 100px;
    flex-grow: 1;
    text-align: center;
}

#countdowninput .label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#countdowninput .input {
    margin: 0 10px;
    font-size: 40px;
    padding: 0;
}


/******************************* Animations *******************************/

@keyframes buttons {
    from {background-color: rgb(20, 99, 151);}
    to {background-color: rgb(95, 172, 223);}
}

@keyframes tab-buttons {
    from {background-color: rgb(200, 130, 50);}
    to {background-color: rgb(250, 185, 103);}  
}